@model HotelManagementSystem.Models.Room

@{
    ViewData["Title"] = "Додати кімнату";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Додавання кімнати до готелю @ViewBag.HotelName</h1>

<h4>Кімната</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <input type="hidden" asp-for="RmHtId" value="@ViewBag.HotelId" />

            <div class="form-group">
                <label asp-for="RmNumber" class="control-label"></label>
                <input asp-for="RmNumber" class="form-control" />
                <span asp-validation-for="RmNumber" class="text-danger"></span>
            </div>
            
            <div class="form-group mt-3">
                <label asp-for="RmCatId" class="control-label"></label>
                <select asp-for="RmCatId" class ="form-control" asp-items="ViewBag.RmCatId"></select>
            </div>
            
            <div class="form-group mt-4">
                <input type="submit" value="Створити" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="mt-3">
    <a asp-action="Index" asp-route-id="@ViewBag.HotelId" asp-route-name="@ViewBag.HotelName">Повернутися до списку</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}